<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <system.web>
    <!--  DYNAMISCHE DEBUGKOMPILIERUNG
          Legen Sie die Debugkompilierung auf "true" fest, um das ASPX-Debuggen zu aktivieren. Wenn Sie diesen Wert auf
          false setzen, wird die Laufzeitleistung der Anwendung verbessert. 
          Legen Sie die Debugkompilierung auf "true" fest, um Debugsymbole (.pdb information)
          in der kompilierten Seite einzufügen. Da dadurch eine größere Datei erstellt wird, die
          langsamer ausgeführt wird, sollten Sie diesen Wert nur beim Debuggen auf true setzen und ansonsten
           auf false. Weitere Informationen finden Sie in der Dokumentation
          zum Debuggen von ASP .NET-Dateien.
    -->
    <compilation defaultLanguage="c#" debug="true" />
    <!--  BENUTZERDEFINIERTE FEHLERMELDUNGEN
          Legen Sie die customError-Werte fest, um die Anzeige von 
          Fehlermeldungen für Benutzer zu steuern:

          "On" Zeigt die benutzerdefinierten Meldungen immer an.  
          "Off" Zeigt detaillierte ASP.NET-Fehlerinformationen an.
          "RemoteOnly" Zeigt benutzerdefinierte Meldungen nicht auf dem lokalen Webserver 
          an. Diese Einstellung wird aus Sicherheitsgründen empfohlen, damit 
          die Anwendungsinformationen nicht auf Remoteclients angezeigt wird.
    -->
    <customErrors mode="Off" />
    <!--  AUTHENTIFIZIERUNG 
          Dieser Bereich legt die Authentifizierungsrichtlinien der Anwendung fest. Mögliche Modi sind "Windows", "Forms", "Passport" und "None"
    -->
    <authentication mode="Windows" />
    <!--  ABLAUFVERFOLGUNG AUF ANWENDUNGSEBENE
          Ablaufverfolgung auf Anwendungsebene aktiviert die Ablaufprotokollausgabe für jede Seite innerhalb der Anwendung. 
          Die Einstellung trace enabled="true" aktiviert die Ablaufverfolgung der Anwendung. Wenn pageOutput="true", werden
          Ablaufverfolgungsinformationen am Ende jeder Seite angezeigt. Andernfalls kann das 
          Ablaufverfolgungsprotokoll der Anwendung durch Browsen der Seite "trace.axd" vom Stamm der Webanwendung aus
          angezeigt werden. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  EINSTELLUNGEN FÜR SITZUNGSSTATUS
          Standardmäßig verwendet ASP .NET Cookies, um festzustellen, welche Anforderungen zu einer bestimmten Sitzung gehören. 
          Wenn keine Cookies verfügbar sind, kann eine Sitzung durch das Hinzufügen eines Sitzungsbezeichners zum URL nachverfolgt werden. 
          Die Einstellung sessionState cookieless="true" deaktiviert Cookies.
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20" />
    <!--  GLOBALISIERUNG
          Dieser Bereich fegt die Globalisierungseinstellungen der Anwendung fest. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
  <appSettings>
    <!--   Benutzeranwendung und konfigurierte Eigenschafteneinstellungen hier einfügen.-->
    <!--   Beispiel: <add key="settingName" value="settingValue"/> -->
 
  </appSettings>
</configuration>